.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #0026d1;
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: rgb(182, 178, 178);
}

.TabelaProdutos .Impar {
    background-color: rgb(250, 249, 249);
}